lcDetectorRnD.pdf filter=lfs diff=lfs merge=lfs -text
Software/LCIO_hierarchy.pdf filter=lfs diff=lfs merge=lfs -text
Sources/SpanishNetworkRnD_AlbertoRuiz_IFCA_20140407.pdf filter=lfs diff=lfs merge=lfs -text
Sources/sid_RnD_final_report.pdf filter=lfs diff=lfs merge=lfs -text
Calorimeter/AHCAL/DarkCount.pdf filter=lfs diff=lfs merge=lfs -text
Calorimeter/DECAL/MIPEfficiency.pdf filter=lfs diff=lfs merge=lfs -text
Calorimeter/DECAL/MIPResponse.pdf filter=lfs diff=lfs merge=lfs -text
Calorimeter/FCAL/FCAL_Introductory_Slide.pdf filter=lfs diff=lfs merge=lfs -text
Calorimeter/SDHCal/g4reso_sdhcal-eps-converted-to.pdf filter=lfs diff=lfs merge=lfs -text
Calorimeter/SDHCal/interconnects-eps-converted-to.pdf filter=lfs diff=lfs merge=lfs -text
Calorimeter/SDHCal/m2_assembly-eps-converted-to.pdf filter=lfs diff=lfs merge=lfs -text
Calorimeter/SDHCal/splam_eff-eps-converted-to.pdf filter=lfs diff=lfs merge=lfs -text
Calorimeter/SDHCal/splam_linearity-eps-converted-to.pdf filter=lfs diff=lfs merge=lfs -text
Calorimeter/SDHCal/splam_rate-eps-converted-to.pdf filter=lfs diff=lfs merge=lfs -text
Calorimeter/SiliconTungstenILD/FEV_gluing_photo.pdf filter=lfs diff=lfs merge=lfs -text
Calorimeter/SiliconTungstenILD/LAL_OrgChart.pdf filter=lfs diff=lfs merge=lfs -text
Software/PandoraPFA/ECAL_CellSize.pdf filter=lfs diff=lfs merge=lfs -text
Software/PandoraPFA/HCAL_Layers.pdf filter=lfs diff=lfs merge=lfs -text
Software/PandoraPFA/JetEnergyResolution.pdf filter=lfs diff=lfs merge=lfs -text
Software/Sources/ILCDetectorRD_2015_LCIO.pdf filter=lfs diff=lfs merge=lfs -text
Software/Sources/ILCDetectorRD_2015_LCSIM.pdf filter=lfs diff=lfs merge=lfs -text
Software/Sources/ILCDetectorRD_2015_PandoraPFA.pdf filter=lfs diff=lfs merge=lfs -text
Software/Sources/softwareRD.pdf filter=lfs diff=lfs merge=lfs -text
VertexDetector/SOI/SOI_Schematic.pdf filter=lfs diff=lfs merge=lfs -text
VertexDetector/SOI/microBump3DIntegration.pdf filter=lfs diff=lfs merge=lfs -text
VertexDetector/SOI/resistanceOfDaisyChain.pdf filter=lfs diff=lfs merge=lfs -text
VertexDetector/SOI/thresholdShift.pdf filter=lfs diff=lfs merge=lfs -text
*/Source filter=lfs diff=lfs merge=lfs -text
*/*Source filter=lfs diff=lfs merge=lfs -text
MuonDetector/ScintillatorMuons/Source filter=lfs diff=lfs merge=lfs -text
VertexDetector/FPCCD/Source filter=lfs diff=lfs merge=lfs -text
*/*/*/Source filter=lfs diff=lfs merge=lfs -text
*/*/*/Sources filter=lfs diff=lfs merge=lfs -text
Calorimeter/AHCAL/Sources filter=lfs diff=lfs merge=lfs -text
Calorimeter/CERN/Sources filter=lfs diff=lfs merge=lfs -text
Calorimeter/DHCAL/Sources filter=lfs diff=lfs merge=lfs -text
Calorimeter/DualReadout/Sources filter=lfs diff=lfs merge=lfs -text
Calorimeter/FCAL/Sources filter=lfs diff=lfs merge=lfs -text
Calorimeter/GEM_HCAL/Sources filter=lfs diff=lfs merge=lfs -text
Calorimeter/SDHCAL_GRPC/Sources filter=lfs diff=lfs merge=lfs -text
Calorimeter/SDHCal/Sources filter=lfs diff=lfs merge=lfs -text
Calorimeter/ScintillatorStrips/Sources filter=lfs diff=lfs merge=lfs -text
Calorimeter/SiliconTungstenILD/Sources filter=lfs diff=lfs merge=lfs -text
Calorimeter/SiliconTungstenSiD/Sources filter=lfs diff=lfs merge=lfs -text
Calorimeter/THGEM/Sources filter=lfs diff=lfs merge=lfs -text
MuonDetector/MuonDetectorILD/Sources filter=lfs diff=lfs merge=lfs -text
Tracker/KPIX/Sources filter=lfs diff=lfs merge=lfs -text
Tracker/MicroStrips/Sources filter=lfs diff=lfs merge=lfs -text
Tracker/SCIPPTracking/Sources filter=lfs diff=lfs merge=lfs -text
Tracker/TPC/Sources filter=lfs diff=lfs merge=lfs -text
VertexDetector/CLICPIX/Sources filter=lfs diff=lfs merge=lfs -text
VertexDetector/CMOS/Sources filter=lfs diff=lfs merge=lfs -text
VertexDetector/Chronopix/Sources filter=lfs diff=lfs merge=lfs -text
VertexDetector/DEPFET/Sources filter=lfs diff=lfs merge=lfs -text
VertexDetector/SOI/Sources filter=lfs diff=lfs merge=lfs -text
VertexDetector/VIP/Sources filter=lfs diff=lfs merge=lfs -text
